---
layout: default
eleventyExcludeFromCollections: true
pagination:
    data: collections.pagedPostsByGenre
    size: 1
    alias: paged
permalink: "genres/{{ paged.genreName }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}index.html"
eleventyComputed:
    title: "Tagged with \"{{ paged.genreName | capitalize }}\""
---

<div class="mb-8 text-center">
    <h3 class="text-xl font-medium text-slate-700 my-0">Tagged with </h3>
    <h1 class="text-4xl font-medium leading-normal mt-0">{{ paged.genreName | capitalize }}</h1>
</div>
<div class="flex flex-wrap -mx-2">
    {% include "partials/post-grid.njk" %}
</div>

{% if collections.genreList[paged.genreName] > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}